<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru - Course Name</title>

    <link rel="stylesheet"
          media="screen"
          href="../static/css/bootstrap-3.3.4/dist/css/bootstrap.min.css"
          th:href="@{/css/bootstrap-3.3.4/dist/css/bootstrap.min.css}"/>

    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link href="../static/css/custom.css"
          th:href="@{/css/custom.css}"
          rel="stylesheet"
          media="screen"/>
</head>
<body>
<div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron">
    <div class="container">
        <h1>Spring Framework Guru</h1>
        <p class="lead" th:text="#{index.courses.tagline}">Tag line</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Spring Framework Guru - Course Name</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="../static/images/SpringIntroThumb.png"
                 th:src="@{/images/SpringIntroThumb.png}"
                 class="center-block"
                 alt="NO IMAGE">
        </div>
        <div class="col-md-6">
            <div>
                <h2>Course Title</h2>
                <p> Course description - Add Lips-um text here, This is some dome text. I write here just to write.
                There is nothing special here</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-6 col-md-4">
            <button class="btn btn-success" th:text="#{product.page.buy.text}">Buy Now</button>
        </div>
    </div>
</div>

<div class="footer" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>

</body>
</html>
