<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework Guru - Course Name</title>

    <link rel="stylesheet"
          media="screen"
          th:href="@{/css/bootstrap-3.3.4/dist/css/bootstrap.min.css}"/>

    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <link th:href="@{/css/custom.css}"
          rel="stylesheet"
          media="screen"/>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Spring Framework Guru</h1>
        <p class="lead">Online Courses for Spring Framework</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Spring Framework Guru - Course Name</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img th:src="@{/images/SpringIntroThumb.png}"
                 class="center-block"
                 alt="NO IMAGE">
        </div>
        <div class="col-md-6">
            <div>
                <h2>Course Title</h2>
                <p> Course description - Add Lips-um text here, This is some dome text. I write here just to write.
                There is nothing special here</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-6 col-md-4">
            <button class="btn btn-success">Buy Now</button>
        </div>
    </div>
</div>

</body>
</html>
